.App {
  background-image: url("./images/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.destination {
  background-image: url("./images/icons-images/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.crew {
  background-image: url("./images/icons-images/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.technology {
  background-image: url("./images/icons-images/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 376px) {
  .App {
    background-image: url("./images/home/background-home-tablet.jpg");
  }
  .destination {
    background-image: url("./images/icons-images/destination/background-destination-tablet.jpg");
  }
  .crew {
    background-image: url("./images/icons-images/crew/background-crew-tablet.jpg");
  }
  .destination{
    background-image: url("./images/icons-images/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 768px) {
  .App {
   
    max-width: 1400px;
    height: 1024px;
  }
  .destination {
   
    height: 1024px;
  }
  .crew {
   
    height: 1024px;
  }
  .technology {
    height: 1024px;
  }
}

@media (min-width: 1440px) {
  .App {
    background-image: url("./images/home/background-home-desktop.jpg");
    max-width: 1400px;
    height: 900px;
  }
  .destination {
    background-image: url("./images/icons-images/destination/background-destination-desktop.jpg"); 
    height: 900px;
  }
  .crew {
     background-image: url("./images/icons-images/crew/background-crew-desktop.jpg"); 
    height: 900px;
  }
  .technology {
    background-image: url("./images/icons-images/technology/background-technology-desktop.jpg"); 
    height: 900px;
  }
}
